{% extends 'base.html.twig' %}

{% block title %}{{ metadata.title }}{% endblock %}

{% block body %}
    <div class="post">
        <style comp="post">
            .post {
                max-width: var(--max-width-3xl);
            }
        </style>
        <h1>{{ metadata.title }}</h1>
        {# If metadata.updated not the same as date, then add updated to span  #}
        <span>{{ metadata.date |date("m/d/Y") }}  </span>
        {{ content|raw }}
    </div>
{% endblock %}
