<style comp="header">
    .header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 1rem;
        max-width: var(--max-width-screen-lg);
        width: 100%;

        & .site-menu {
            display: flex;
            list-style: none;
            padding: 0;
        }
        & .site-menu li {
            padding: 0 1rem;
        }
        & .logo {
            max-height: 84px;
        }
    }
</style>
<nav class="header container">
    <a href="/">
        <img src="/images/logo.jpeg" alt="logo" class="logo">
    </a>
    <ul class="site-menu">
        <li><a href="/">Home!!!</a></li>
        <li><a href="{{ path('app_posts', {limit: 10}) }}">Posties</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>

